body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

h5{
  color: #fff;
  text-align: center;
}

.button-container-div {
  text-align: center;
}
.select-container-div{
  text-align: center;
}
.bookCards{
  background-color: #975418;
  margin: 20px;

}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #ff0057; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  padding: 50px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.dropdown{
  
  box-shadow: 0 0 0 2px #fff inset!important;
    background: transparent none;
    color: #fff;
    text-shadow: none!important;

  font-weight: 400;
  border-radius:50.28571429rem;
  text-transform: none;
  text-align: center;
  text-shadow: none!important;
  font-size: 1rem;
  padding: 0.7857142899999996em 0.5em 0.7857142899999996em;
  margin: 0 .25em 0 0;
}