body{
  background-color: #D1A25A;
}
h1{
  text-align: center;
  padding-top: 10px;
}

h5{
  text-align: center;
}

.button-container-div {
  text-align: center;
}
.select-container-div{
  text-align: center;
}
.bookCards{
  background-color: #975418;
  margin: 20px;

}
.flip-card {
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #975418;
  color: white;
  transform: rotateY(180deg);
}

.flexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column{
  flex: 33.33%
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  padding: 50px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.dropdown{
  box-shadow: 0 0 0 1px;

  color: #1b1c1d!important;
  background: transparent none!important;
  font-weight: 400;
  border-radius:50.28571429rem;
  text-transform: none;
  text-align: center;
  text-shadow: none!important;
  font-size: 1rem;
  padding: 0.7857142899999996em 0.5em 0.7857142899999996em;
  margin: 0 .25em 0 0;
}